@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home Page - April - 2025- Changes made by ayan.jum9191-Changes done ayan.jum</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Changes done by feature-VS-April</h2>
</div>
